.input {
  height: 5rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: #f4f5f6;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.input:hover {
  border: 1px solid #49dbf5;
}

.input > input {
  width: 60%;
  height: inherit;
  padding: 0 0.5rem;
  color: inherit;
  font-family: inherit;
  border: 1px solid rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
}

.input > input:focus {
  outline-color: #49dbf5;
}

.card {
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.589);
}
